body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.col > .btn {
    width: 100%;
 }

 .no-margin {
    margin: 0;
 }

 .no-top-margin {
     margin-top: 0
 }

 .special-margin {
    margin: 0;
}

.img-placeholder-box{
    width:100%; 
    height:0; 
    padding-top:58.57%; 
    position:relative;
}

#img-holder{
    position:absolute; 
    top:0; 
    left:0; 
    width:100%;
}

.loader {
    position: absolute;
    top :0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

 @media only screen and (max-width: 600px) {
    .special-margin {
        margin: 20;
    }
    
  }

div#materialbox-overlay { background-color: #000000e6 !important; }

.input-field input[type=number]:focus {
    border-bottom: 1px solid #03a9f4 !important;
    box-shadow: 0 1px 0 0 #03a9f4 !important;
}

.input-field input[type=number]:focus + label {
    color: #03a9f4 !important;
}

.materialboxed:hover:not(.active) {
    opacity: 1 !important;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #03a9f4 !important;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #03a9f4 !important;
}